API_KEY = "API_KEY"
DB_STRING = "sqlite:///./tmp.db"
# CHANGE #
SECRET_ACCESS_KEY = "SUPER_SECRET_KEY"
SECRET_REFRESH_KEY = "SECRET_REFRESH_KEY"
##########
ALEMBIC_PATH = "ALEMBIC_PATH"
CORS_ORIGIN = "CORS_ORIGIN"
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password